@guardian-network:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${GUARDIAN_NPM_TOKEN}
//gitlab.com/api/v4/projects/46281608/packages/npm/:_authToken=${GUARDIAN_NPM_TOKEN}
//gitlab.com/api/v4/groups/16086101/-/packages/npm/:_authToken=${GUARDIAN_NPM_TOKEN}
auto-install-peers=true
