{
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse"
      }
    }
  ]
}